* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: rgb(221, 212, 212);
    width: 100vw;
    height: 100vh;
 
}

.titleGame {
    padding: 40px;
    text-align: center;
}

.game-board {
    position: relative;
    height: 500px; 
    width: 1023px;
    margin: 0 auto;
    overflow: hidden;
    border: 5px solid black;
    border-radius: 10px;
    box-shadow: 10px 10px 10px 2px rgba(0, 0, 0, 0.61); 
}

.vidas {
    position: absolute;
    z-index: 8;
    padding: 10px;
}

.score {
    position: absolute;
    right: 10px;
    /*right: 37%;
    bottom: 50%;*/
    z-index: 8;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.541);
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
    width: 250px;
}

.scoreNumber {
    padding-left: 20px;
    font-size: 1.5em;
}

.score-meio {
    right: 37%;
    bottom: 50%;
}

.tela-game-over {    
    position: absolute;
    background-color: rgba(0, 0, 0, 0.637);
    width: 1023px;
    height: 500px;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 8;
}

.gameover {
    position: absolute;
    z-index: 7;
    height: 300px;
    width: 350px;
    background-color: white;
    text-align: center;
    padding: 20px;
    border-radius: 20px;   
}

.gameover > button {
    margin-top: 150px;
    padding: 10px;
    bottom: 10px;
    border: none;
    border-radius: 10px;
    background-color: rgb(73, 160, 73) ;
    font-size: 1.5em;
    font-weight: bolder;
    color: white;
    box-shadow: 2px 2px 5px black;
}

.gameover > button:hover {
    background-color: green;
    box-shadow: 4px 4px 10px black;
    cursor: pointer;
    text-shadow: 1px 1px 3px black;
}

.pipe {
    position: absolute;
    bottom: 50px;
    width: 80px;
    animation: pipe-animation 1.5s infinite linear;
    z-index: 5;
}

.cloud {
    position: absolute;
    width: 280px;
    right: -280px;
}

.cloud1 {
    animation: cloud-animation 15s linear infinite;
    animation-delay: 15s;
}

.cloud2 {   
    animation: cloud-animation 15s linear infinite;
}

.mario {
    position: absolute;
    height: 150px;
    bottom: 50px;
    z-index: 6;
}

.jump {
    animation: mario-jump 500ms ease-out;
}

/*Paisagem de fundo*/
.grama {
    position: absolute;
    animation: fundo-animation-longe2 1.5s linear infinite;
    z-index: 4;
}

.grama2 {
    position: absolute;
    left: 1023px;
    animation: fundo-animation-longe 1.5s linear infinite;
    z-index: 4;

}

.moitas {
    position: absolute;
    bottom: 10px;
    animation: fundo-animation-longe2 5s linear infinite;
    z-index: 3;
}

.moitas2 {
    position: absolute;
    bottom: 10px;
    z-index: 3;
    left: 1023px;
    animation: fundo-animation-longe 5s linear infinite;
}

.montes {
    position: absolute;
    bottom: -30px;
    z-index: 2;
    animation: fundo-animation-longe 10s linear infinite;
}

.montes2 {
    position: absolute;
    bottom: -30px;
    z-index: 2;
    left: 1023px;
    animation: fundo-animation-longe2 10s linear infinite;
}

.mont {
    position: absolute;
    z-index: 0;
    animation: fundo-animation-longe 20s linear infinite;
}

.mont2 {
    position: absolute;
    z-index: 0;
    left: 1023px;
    animation: fundo-animation-longe2 20s linear infinite;
}

/*Animação do deslocamento do cano dentro da div (game-board)*/
@keyframes pipe-animation {
    from {
        right: -80px;
    }
    to {
        right: 100%;
    }
}

/*Animação do pulo do Mario*/
@keyframes mario-jump {
    0% {
        bottom: 50px;
    }
    40% { 
        bottom: 180px;
    }

    60% {
        bottom: 180px;
    }
    100% {
        bottom: 50px;
    }
}

/*Clouds animação*/
@keyframes cloud-animation {
    from {
        right: -280px;
    }
    to {
        right: 100%;
    }
}

/*Animação do fundo*/

@keyframes fundo-animation-longe {
    from {
        left: 1023px;
    }
    to {
        left: 0px;
    }
}

@keyframes fundo-animation-longe2 {
    0% {
        left: 0px;
    }


    100% {
        left: -1023px;
    }
}